.landingpage {

    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: 3;


    a{
        color:$background-alternative-color;
    }

    h1 {

        grid-column: span 3;
        border-radius: 10px;
        background-color: $background-color;
        text-align: center;
        color:$background-alternative-color;
        padding: 2em;
    }
}


.box{

    margin: 16px;
    border: 1px solid rgb(2, 124, 2);
    border-radius: 10px;
    padding:2em;
    background-color: $background-color;
    text-align: center;

    
}


.single-technology{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.tech-menu{

    width: 30%;
    text-align: center;

    a{

        padding:20px;
        margin:10px;
    }

    a:hover {

        border: solid 4px $background-color;
        border-radius: 50%;
        padding:20px;
    }
}

.tech-content{

    width: 60%;
}

@media  (max-width: 768px) {
    .landingpage {
        gap: 0.5rem 1rem;
        
        grid-template-columns: span 1;

        h1 {
            grid-column: span 1;
            border-radius: 10px;
            padding: 1em;
        }
        
    }

    

    .tech-menu {
        display: none;
    }

    .tech-content {
        width: 100%;
    }
}

pre {

    background-color: #000F;
}
